// Font Mixins
@mixin serif-font {
  font-family: 'IM Fell DW Pica', serif;
}
@mixin script-font {
  font-family: 'IM Fell DW Pica', serif;;
}
@mixin body-font {
  font-family: 'IM Fell DW Pica', serif;
}
@mixin heading-font {
  font-family: 'IM Fell DW Pica', serif;
}
